@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.intro {
    background: linear-gradient(rgb(163, 162, 162), rgb(83, 82, 83));

}
.section1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}


.introo {
    background: linear-gradient(rgb(202, 198, 198), rgb(168, 167, 168));

}
.section2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}


.introoo {
    background: linear-gradient(rgb(250, 244, 244), rgb(255, 253, 254));

}
.section3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;


}
.introooo {
    background: linear-gradient(rgb(196, 193, 193), rgb(200, 160, 180));
    .section4 {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar {
        width: 200px;
        border-radius: 100px;
    
    
    }
}
.introoooo {
    background: linear-gradient(rgb(56, 54, 54), rgb(37, 35, 37));

}
.section5 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}
.introooooo {
    background: linear-gradient(rgb(254, 251, 251), rgb(255, 252, 255));

}
.section6 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}
.introoooooo {
    background: linear-gradient(rgb(27, 58, 144), rgb(32, 60, 161));

}
.section7 {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}